body {
   background-color: #F7ECDE;
  }
  .picture {
    display: flex;
    justify-content: center;
  }
  .back {
    width: 50%;
    height: 90vh;
    margin-top: 20px;
    position: absolute;
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    }
  .list {
    width: 30%;
    min-height: 80vh;
    background-color: rgba(255, 255, 255, 0.686);
    margin-top: 60px;
    border: 3px solid  #fd895e;
  }
  h1 {
    text-align: center;
    color: #5b8177;
    text-decoration: underline;
    margin-top: 30px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 5px;
  }
  .crossed {
    text-decoration: line-through 2px #b55a52;
    background-color:  #ffe7d6;
    }
  .check {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 3;
    }
  ul, li {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 5px;
    }
  .btn {
    display: flex;
    justify-content: center;
    padding: 10px;
    
    }
  .add {
    background-color: #99bfaa;
    width: 70%;
    border: none;
    color: #eeeeee;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 5px;
    font-size: 20px;
    padding: 8px;
    }
  .delete {
    background-color: #c3544c;
    width: 70%;
    border: none;
    color: #eeeeee;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 5px;
    font-size: 20px;
    padding: 8px;
    }
  .input {
    flex:1;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 5px;
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.686);
    border: 2px solid #5b8177c1;
    }
  input {
    border: none;
    background-color: rgba(255, 255, 255, 0.686);
    width: 100%;
  }
  .plans {
    font-size: 20px;
    color: #5b8177;
    }
    